<footer>
    <p class="mail">contact <a href="mailto:{{ site.email | encode_email }}">{{ site.email_at }}</a></p>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</footer>
